<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
      <!-- 1.checkbox单选框:绑定到属性中的值是一个Boolean -->
      <label for="agree">
        <input id="agree" type="checkbox" v-model="isAgree"> 同意协议
      </label>

       <h2>单选框: {{isAgree}}</h2>
       
      <!-- 注意: 多选框当中, 必须明确的绑定一个value值 -->
      <div class="hobbies">
        <h2>请选择你的爱好:</h2>
        <label for="sing">
          <input type="checkbox" id="sing" v-model="hobbies" value="sing"> 唱
        </label>
        <label for="jump">
          <input type="checkbox" id="jump" v-model="hobbies" value="jump"> 跳
        </label>
        <label for="rap">
          <input type="checkbox" id="rap" v-model="hobbies" value="rap"> rap
        </label>
        <label for="basketball">
          <input type="checkbox" id="basketball" v-model="hobbies" value="basketball"> 篮球
        </label>
        <h2>爱好: {{hobbies}}</h2>
      </div>
    </div>
    
    <script src="../lib/vue.js"></script>
    <script>
        const App = {
            data(){
                return{
                    message:"Hellow World",
                    isAgree: "aaa",
                    hobbies: []
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>