<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
       <h2>{{message}}</h2>
       <ul v-if="names.length >0">
        <li v-for="item in names">{{item}}</li>
       </ul>
       <h2 v-else>当前names没有数据, 请获取数据后显示</h2>
    </div>
    
    <script src="../lib/vue.js"></script>
    <script>
        const App = {
            data(){
                return{
                    message:"Hellow World",
                    names: ["abc", "cba", "nba"]
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>