<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      table {
        border-collapse: collapse;
      }

      thead{
        background-color: #f5f5f5;
      }

      th, td {
        border: 1px solid #aaa;
        padding: 8px 16px;
      }
      .active{
        background-color: skyblue;
      }
    </style>
</head>
<body>
    <div id="app">
       <!-- 1.搭建界面内容 -->
       <template class="box" v-if="books.length">
        <table>
          <thead>
            <tr>
              <th>序号</th>
              <th>书籍名称</th>
              <th>出版日期</th>
              <th>价格</th>
              <th>购买数量</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in books" :key="item.id" :class="{active: index === currentIndex }" @click="rowClick(index)">
              <td>{{item.id + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.date}}</td>
              <td>{{formatPrice(item.price)}}</td>
              <td>
                <button :disabled="item.count <= 1" @click="decBooksSum(index)">-</button>
                  {{item.count}}
                <button @click="addBooksSum(index)">+</button>
              </td>
              <td>
                <button @click="removeItem(index)">移除</button>
              </td>
            </tr>
          </tbody>
         </table>
         <h2>总价格: {{formatPrice(totalPrice)}}</h2>
        </<template>
          <div>
            
          </div>
        </template>
      

       <h2 v-if="books.length === 0">购物车为空, 请重新添加</h2>
    </div>
    
    <script src="../lib/vue.js"></script>
    <script src="./data/data.js"></script>
    <script>
        const App = {
            data(){
                return{
                    message:"Hellow World",
                    books:books,
                    isShow: false,
                    currentIndex: 0,
                }
            },
            computed:{
              totalPrice() {
                return this.books.reduce((preValue, item) => {
                  return preValue + item.price * item.count
                }, 0)
              }
            },
            methods:{
              addBooksSum(index) {
                this.books[index].count++
              },
              decBooksSum(index) {
                this.books[index].count--
              },
              removeItem(index) {
                this.books.splice(index, 1)
              },
              rowClick(index) {
                this.currentIndex = index
              },
              formatPrice(price) {
                return "￥" + price
              }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>